html,
body {
	height: 100vh;
}

.calendar-row {
	height: 40px;
	width: 40px;
}

.calendar-row td {
	width: 40px;
	text-align: center;
	cursor: pointer;
}

.header-cell {
	text-align: center;
}

@media print {
	.no-print,
	.no-print * {
		display: none !important;
	}
	:root,
	[data-bs-theme="light"] {
		--bs-body-bg: #fff;
	}
}
