html {
	overflow-x: hidden;
}

#title {
	background-image: url("images/index_forrest.jpg");
	background-position: center;
	background-size: cover;
	color: white;
}

#title-text {
	font-weight: 900;
	-webkit-text-stroke: 0.5px black;
}

#title-subtext {
	font-weight: 600;
	-webkit-text-stroke: 0.5px black;
}
