html {
	overflow-x: hidden;
}
#bgimgmain {
	background-image: url("images/index_forrest.jpg");
	background-position: center;
	background-size: cover;
}
#title {
	color: white;
	backdrop-filter: brightness(0.5);
}

#title-text {
	font-weight: 900;

}

#title-subtext {
	font-weight: 600;
}
