* {
	--bs-body-bg: #f2f2f2;
}
:root,
[data-bs-theme="light"] {
	--bs-body-bg: #f2f2f2;
}

.navbar-nav {
	--bs-navbar-active-color: teal;
	--bs-navbar-hover-color: rgb(93, 139, 25);
	height: min-content;
	--bs-navbar-toggler-focus-width: 0;
}

.navbar-brand {
	--bs-navbar-brand-margin-end: 0.5rem;
	margin-left: var(--bs-navbar-brand-margin-end);
}

.btn-dark {
	--bs-btn-bg: #2b3035;
}

html,
body {
	height: 100%;
	margin: 0;
}

#theme {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0;
	margin-left: 8px;
	margin-right: 8px;
	svg {
		margin: auto;
	}
}

.footer {
	width: 100%;
	background-color: #2b3035;
	color: white;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}

.footer a {
	color: #f2f2f2;
	text-decoration: none;
}

.footer a:hover {
	color: teal;
}
