*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    /* place-items: center; */
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 30px;
}


.main {
    background-color: #f2f2f2;
    padding: 70px 60px 70px 60px;
}

.animation{
    background-image: url("images/truck.png") no-repeat;
    position: relative;
    left: 0;
    overflow: hidden;
    animation: animationMove 5s infinite;
}

@keyframes animationMove {
    from 0%{
        justify-content: left;
    }
    50%{
        justify-content: center;
    }
    to{
        justify-content: right;
    }
}
