body {
	margin: 0;
}

.navbar ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
}

.selected {
	border-bottom: greenyellow solid 5px;
}
.navbar ul li {
	background-color: white;
	padding: 20px;
	width: 70px;
	text-align: center;
	transition: transform 0.5s ease;
}

.navbar ul li .cos {
	transform: translateY(10px);
}

.animate {
	cursor: pointer;
	animation: movedown 0.5s forwards;
}

@keyframes movedown {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(10px);
	}
}

.animateup {
	cursor: pointer;
	animation: moveup 0.5s forwards;
}

@keyframes moveup {
	from {
		transform: translateY(10px);
	}
	to {
		transform: translateY(0px);
	}
}
