* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden; /* Ukrycie przewijania poziomego */
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 30px;
}

.main {
    background-color: #f2f2f2;
    padding: 70px 60px;
    width: 70%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation {
    background-image: url("images/truck.png");
    background-repeat: no-repeat;
    width: 10%;
    height: 12%;
    position: absolute;
    left: 0;
    animation: animationMove 12s infinite linear; /* Zwiększenie czasu, by uwzględnić pauzę */
}

.trash {
    background-image: url("images/trash.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 25%;
    height: 25%;
    position: absolute;
    top: -50px;
}

/* Animacja poruszania się ciężarówki */
@keyframes animationMove {
    0% {
        left: 0;
        top: 30px;
    }
    49% {
        left: 50%;
    }
    50% {
        left: 50%;
    }
    51% {
        left: 50%;
    }
    52% {
        left: 50%;
    }
    100% {
        left: 100%;
        top: 30px;
    }
}
