* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	--almostBlack: #2f2f2f;
	--coolWhite: #f2f2f2;
}

html,
body {
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	overflow-x: hidden;
}
.material {
	background-color: var(--almostBlack);
	color: var(--coolWhite);
	cursor: pointer;
}

#buttons {
	background-color: var(--coolWhite);
}
#description h2,
h4 {
	margin: 15px;
}
#description {
	background-color: var(--coolWhite);
	box-shadow: 0px 0px 10px 0px var(--almostBlack);
	min-height: min-content;
}
